p { color: #FF0000; }

body {
    font-size: 18px;
    color: #05090e;
    -ms-overflow-style: scrollbar;
}

.text-left,.alignleft {
    text-align: left;
}

.text-right,.alignright {
    text-align: right;
}

.text-center,.aligncenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: underline;
    color: #00a0df;
    font-weight: bold;
}

a:hover,a:focus {
    color: #1aaae2;
}

h1,h2,h3,h4,h5 {
    line-height: 1;
    font-weight: bold;
}

h1 a,h2 a,h3 a,h4 a,h5 a {
    text-decoration: none;
}

h1 {
    font-size: 233%;
    color: #002d74;
    margin-bottom: .7em;
    font-weight: 300;
}

h2 {
    font-size: 178%;
    color: #002d74;
    margin-bottom: .7em;
    font-weight: 400;
}

h3 {
    font-size: 133%;
    color: #002d74;
    margin-bottom: .7em;
    font-weight: bold;
}

h4 {
    font-size: 110%;
    margin-bottom: 15px;
    font-weight: bold;
}

p:empty {
    margin-bottom: 0;
}